[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Rsfar"]
	path = Rsfar
	url = https://github.com/haghbinh/rsfar
	shallow = true
	registered = true
[submodule "combinIT"]
	path = combinIT
	url = https://github.com/haghbinh/combinit
	shallow = true
	registered = true
[submodule "Rfssa"]
	path = Rfssa
	url = https://github.com/haghbinh/rfssa
	shallow = true
	registered = true
